.Modal-Container .modal-dialog .modal-content {
  width: 600px;
  background: transparent;
  border: none;
}

.Modal-Container .modal-header {
  border: none;
}

.Modal-Container .modal-header button {
  color: #fff;
  padding: 0;
}

.Modal-Container .modal-header button span:focus {
  outline: none;
}

.Modal-Container iframe {
  border-radius: 12px;
}
